<div th:fragment="footer">
<!-- related code of header file -->
<div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p> Copyright &copy; GSDS Personal Project, 2019. All rights reserved. </p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
	
    <!-- Latest jQuery form server -->
	<script type="text/javascript" th:src="@{https://code.jquery.com/jquery.min.js}"></script>
	
	<!-- Bootstrap JS form CDN -->
	<script type="text/javascript" th:src="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	
	<!-- jQuery sticky menu -->
	<script type="text/javascript" th:src="@{/resources/js/owl.carousel.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/jquery.sticky.js}"></script>
    
	<!-- jQuery easing -->
	<script type="text/javascript" th:src="@{/resources/js/jquery.easing.1.3.min.js}"></script>
    
    <!-- Main Script -->
	<script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    
    <!-- Slider -->
	<script type="text/javascript" th:src="@{/resources/js/bxslider.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/script.slider.js}"></script>
</div>